:root{
   
    --bg:#050505;

    --surface:#111111;

    --surface2:#181818;

    --border:#262626;

    --accent: #9f811d;
    --accent-hover: #9f811d;

    --white:#F5F5F5;

    --gray:#9CA3AF;
}



body{
    background:#050505;
}



.navbar .nav-link{
    color: white !important;
    transition: color 0.3s ease;
}

.navbar .nav-link:hover{
    color: var(--accent-hover) !important;
}

.navbar-brand:hover{
    color: #ffffff;
}

.d-flex a{
    color: white;
    text-decoration: none;
}

.d-flex a:hover{
    color: #9d8a4b;
}
.navbar{

    background: rgba(17,17,17,.55);

    backdrop-filter: blur(16px);

    border-bottom:1px solid #222;
      padding: 20px 0;
}

.logo{
    font-family: "Space Grotesk", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: var(--accent);
    letter-spacing: 1px;
    
}

.logo span{
    color: var(--white);
}

#hero{
    min-height: 90vh;
    display: flex;
    align-items: center;
}


.hero-title{
    font-family: "Space Grotesk", sans-serif;
    font-size: 4rem;
    font-weight: 700;
    color: var(--white);
}

.hero-role{
    color: var(--accent);
    margin-top: 15px;
     font-size:xx-large;
}

.hero-description{
    color: var(--gray);
    line-height: 1.8;
    margin: 30px 0;
     max-width: 500px;
}

.hero-greeting{
    font-size:x-large;
     color: var(--accent);
}

.hero-image{
    width: 100%;
    max-width: 380px;
    height: auto;

    border-radius: 24px;
    object-fit: cover;
    display: block;
    margin: auto;

    box-shadow: 0 10px 25px rgba(214,195,86,.2);

    animation: float 4s ease-in-out infinite;
}

#about{
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 100px 0;
}

.about-image{
    width:100%;
    max-width:1000px;
    max-width:1000px;
    border-radius:20px;
    display:block;
    margin:auto;
}

@keyframes float {

    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-12px);
    }

    100%{
        transform: translateY(0);
    }

}

.about-content{
    padding-left:40px;
}

.about-grid{
    margin-top:40px;
}


.section-subtitle{

    color:var(--accent);

    letter-spacing:3px;

    font-size:.9rem;

    font-weight:600;

    margin-bottom:15px;

}

.section-title{

    font-size:3rem;

    font-weight:700;

    color:var(--white);

    line-height:1.2;

    margin-bottom:25px;

}

.about-description{

    color:var(--gray);

    font-size:1.05rem;

    line-height:1.8;

    margin-bottom:40px;

}

.about-card{
    background: var(--accent);
    border: 1px solid var(--border);
    border-radius: 24px;
    padding: 35px;
    height: 100%;
    min-height: 170px;
    display: flex;
    flex-direction: column;

    transition: all 0.3s ease;
}

.about-card:hover{

    border-color: var(--accent);

    transform: translateY(-5px);

    box-shadow: 0 10px 25px rgba(220, 217, 189, 0.2);
}

.card-content{

    text-align:center;

    margin-top:auto;

}

.card-title{

    font-size:1.5rem;

    font-weight:700;

    color:var(--white);

    margin-bottom:12px;

    letter-spacing:-0.5px;

}

.card-description{

    font-size:1.2rem;
font-weight:500;
line-height:1.6;

    opacity:.8;

    margin-top:8px;

}

#skills{
    padding: 100px 0;
}

.section-tag{
    color: var(--accent);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

.section-title{
    font-size: 3rem;
    font-weight: 700;
    color: var(--white);
    padding: 20px;
}

.section-description{
    color: var(--gray);
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.8;
    margin-bottom: 30px;
}


.skill-category{
    color: var(--accent);
    font-size: 1.5rem;
    font-weight: 600;
    align-items: center;
     margin-bottom: 25px;
}

.skill-pill{
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 12px 20px;

    background: var(--surface);

    border: 1px solid var(--border);

    border-radius: 50px;

    transition: all .3s ease;

    cursor: default;
}

.skill-pill i{
    font-size: 1.3rem;
}

.skill-pill span{
    color: var(--white);
    font-weight: 500;
}

.skill-pill:hover{
    transform: scale(1.15);

    border-color: var(--accent);

    transform: translateY(-5px);

    box-shadow: 0 10px 25px rgba(183,110,121,.2);
}


.skill-group{
    margin-bottom:3px;
}